.App {
  text-align: center;
  padding: 0 20px; /* Adjust the 20px to match the original site's padding */
  max-width: 1200px; /* Or whatever the max width should be */
  margin: auto;
}

/* You can add global styles here */
html {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-size-adjust: 100%;
  text-align: left;
  font-size: 100px; /* This is unusually large and might need to be adjusted */
}

body {
  box-sizing: content-box;
  min-height: 100%;
  background: #fff;
  position: relative;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  font-size: 16px; /* Adjusted for more typical default size, consider using rem units */
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif; /* Updated font stack */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-slide img {
  width: 100%; /* Ensures the image is as wide as its container */
  height: auto; /* Keeps the aspect ratio intact */
  max-height: 800px; /* Adjust this value to control how tall the images can be */
}
